    <div class="container-fluid">
        <div class="row fixed-top">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 fixed-top d-none d-sm-block">
                <br/>
                <br/>
                <br/>
                <!--CATEGORY MENU START-->
                <div class="list-group">
                    <h3>Categories</h3>
                    <a href="/Menu/Category/Starters" class="list-group-item list-group-item-action">Starters</a>
                    <a href="/Menu/Category/Salads" class="list-group-item list-group-item-action">Salads</a>
                    <a href="/Menu/Category/Sandwich" class="list-group-item list-group-item-action">Sandwiches</a>
                    <a href="/Menu/Category/Burgers" class="list-group-item list-group-item-action">Burgers</a>
                    <a href="/Menu/Category/Baskets" class="list-group-item list-group-item-action">Baskets</a>
                    <a href="/Menu/Category/Wraps" class="list-group-item list-group-item-action ">Wraps</a>
                    <a href="/Menu/Category/Platters" class="list-group-item list-group-item-action ">Platters</a>
                    <a href="/Menu/Category/Signature-Dinners" class="list-group-item list-group-item-action ">Signature Dinners</a>
                    <a href="/Menu/Category/Sides" class="list-group-item list-group-item-action ">Sides</a>
                    <a href="/Menu/Category/Kids-Menu" class="list-group-item list-group-item-action ">Children's Menu</a>
                    <a href="/Menu/Category/Desserts" class="list-group-item list-group-item-action ">Desserts</a>
                </div>
                <!--CATEGORY MENU END-->
            </div>
            <!--Adding Space between the Category Menu and Menu Items-->
            <div class="col-sx-3 col-sm-3 col-md-2 col-lg-2"></div>
          
            <!--MENU OUT LAYOUT BEGIN-->
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                <div class="row"></div>
                <br/>
                <br/>
                <br/>
                <!--DISPLAYING MENU ITEMS WITH BOOTSTRAP CARDS START-->
                <!-- Outer Loop Row Control Begins-->
                {{# each items}}
                <div id="menu-row" class="row">
                    <!-- Inner Loop Row Item Control Begins-->
                    {{# each this}}
                    <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3 col-xl-3">
                        <div class="card text-center cardStyle" id="itemCard">
                            <!--a href={{{this.imgURL}}}>
                                <img class="card-img-top" src='' style: "padding: 5px 5px 5px 5px">
                            </a-->
                            <div class="card-body">
                                <p>{{this.name}}</p>
                                <p>{{this.description}}.</p>
                                <p>${{this.price}}</p>
                                <a href="/Menu/add-to-cart/{{this._id}}" class="btn" role="button">Add to Cart</a> 
                                <a href="/Menu/Item/{{this._id}}" class="btn" role="button">Customize</a> 
                            </div>
                        </div>
                    </div>
                     {{/each}}
                     <!-- Inner Loop Row Item Control Ends-->
                </div>
                {{/each}}
                <!-- Outer Loop Row Control Ends-->
                <!--DISPLAYING MENU ITEMS WITH BOOTSTRAP CARDS ENDS-->
            </div>
            <!--MENU OUT LAYOUT ENDS-->
        </div>
    </div>
    

