<div class="checkout-header">
    <h1>Checkout</h1>
    <hr>
</div>
<div class="row row-flex" id="checkoutRow">
    <div class="col-auto col-sm-1  col-md-1 col-lg-1 col-xl-3"></div>
    <!--CHECKOUT RECEIPT BEGINS-->
    <div class="col-auto col-sm-5 col-md-5 col-lg-5 col-xl-3">
        <div class="orderSummary">
            <h1 style="text-align: center;">Receipt</h1>
            <br> {{#if products}}
            <table class="receipt-items">
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                {{#each products}}
                <tr>
                    <td> {{this.item.name}}</td>
                    <td>{{this.qty}}</td>
                    <td>${{this.price}}</td>
                </tr>
                {{/each}}
            </table>
            <table class="recPricing">
                <tr>
                    <td>--------------------</td>
                </tr>
                <tr>
                    <th>Sub-Total:</th>
                    <td>${{subTotal}}</td>
                </tr>
                <tr>
                    <th>Tax (10.5%):</th>
                    <td>${{tax}}</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>${{totalPrice}}</td>
                </tr>
            </table>
            {{/if}}
        </div>
    </div>
    <!--CHECKOUT RECEIPT ENDS-->

    <!--CHECKOUT FORM BEGINS-->
    <div class="col-auto col-sm-5 col-md-5 col-lg-5 col-xl-3" id="checkoutCard">
        <h3 style="text-align: center;">Credit Card Information</h1>
            <form action="/Checkout" method="post" id="checkout-form">
                <script <script 
                            src="https://checkout.stripe.com/checkout.js" 
                            class="stripe-button" 
                            data-key="pk_test_IhTExdjMLK1mYphZ5J4CO27E"
                            data-amount="{{stripeTotal}}" 
                            data-name="porkStore" 
                            data-description="Widget" 
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto">
                    </script>
                </script>
            </form>
    </div>
    <div class="col-auto col-sm-1 col-md-1 col-lg-1 col-xl-3"></div>
</div>
<div class="spacer3">

</div>
<!--CHECKOUT FORM ENDS-->