<hr><hr><hr><hr>
<div id="spiritsContainer">
<h1>    Name: {{user.f_Name}} {{user.l_Name}}</h1>
<h1>   Email: {{user.email}}</h1>
<h1>   Phone: {{user.phoneNum}}</h1>
<h1>Birthday: {{user.birthday}}</h1>
<h2>Member Since: {{user.create_date}}</h2>
</div>